version: "3.9"

services:
  supertool:
    container_name: supertool_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
    environment:
      APP_ENV: production
      APP_DEBUG: false
    restart: unless-stopped
